#title{
    background-color: #ff4c68;
    color: white;
}
h1{
    
    font-size: 3rem;
    line-height: 1.5;
    color: white;
    font-weight: 900;
    
}
.container-fluid{
    padding: 3% 15%;
    font-family: montserrat;
    
}
.navbar-brand{
    font-family: ubuntu;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;

}
.nav-link{
    color:#c9c7c7
}
.navbar{
    padding-bottom: 4.5rem;
    padding-left: 0;
    padding-right: 0%;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: montserrat;
    font-weight: 300;
}
.download-button{
    margin: 50px 20px 30px 0;
}
.iphone{
    width: 230px;
    transform: rotate(25deg);
    
    position :absolute;
    right:25%;
}
    @media (max-width: 1084px)
    {
        #title{
            text-align: center;
        }
      .iphone{
        position: static;
        transform: rotate(0deg);
        width: 50%;
        
      }
    }


/* Features */

h3{
    font-family: montserrat;
    font-weight: 700;
    font-size: 1.5rem;
}
.para
{
    color: #8f8f8f;
    margin-left: 30px;
    margin-right: 30px;
}
.icon{
    color: #ef8172;
    
    padding-bottom: 20px;
}
.icon:hover{
    color:#ff4c68
}
.col-lg-4{
    text-align: center;
    padding: 0 30px 0px;
}
#features{
    padding:7% 15%;
    background-color:white; 
    z-index: 1;
    position:relative;
}


/* Testimonials */

#testimonials{
    
    text-align: center;
    background-color:#ff4c68;
    color: white;
}
h2{
    font-size: 3rem;
    font-family: montserrat;
    font-weight: 700;
}
.dog-image{
    border-radius: 100%;
    width: 20%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 70px;
}
.t-image{
    width: 10%;
    margin:0 30px 0;
}
.carousel-inner{
    padding: 7% 15%;
}
.container{
    text-align: center;
    padding: 7% 10%;

}
.card{
    margin-top: 30px;
    
    margin-bottom: 30px;
}

/* Call to Action */

.cta-container{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    color:white;
    font-family: montserrat;
    font-weight: 900;
    width: 70%;
    margin: auto;
    font-size: 2.2rem;
}

/* Footer */

#footer{
    background-color: white;
    padding: 7% 15%;
    text-align: center;
}
.fa{
    padding: 10px;
    padding-bottom: 20px;
}
.copyright{
    font-size: 0.8rem;
    color: #8f8f8f;
}
.link{
    text-decoration: none;
    color: black;
}
